[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
flask = "*"
pytest-cov = "*"
pylint-flask = "*"
requests-mock = "*"
pytest-mock = "*"
flask-cors = "*"
wheel = "*"

[dev-packages]

[requires]
python_version = "3.8"
